.app {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
}
.app > * {
  margin: 16px 0;
}

.title {
  font-size: 40px;
}

.game {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(14, 1fr);
  --space: 2px;
  background-color: black;
  padding: var(--space);
  row-gap: var(--space);
  column-gap: var(--space);
  width: 93vw;
  max-width: 686px;
  height: 103vw;
  max-height: 534px;
}
.cell {
  background-color: #808080;
  display: grid;
  place-content: center;
  font-size: 19.7486px;
  cursor: default;
}
.cell:hover {
  background-color: #999;
}
.cell.unlocked {
  background-color: rgb(0, 215, 243) !important;
  color: white;
}
.cell.wrong {
  background-color: red !important;
  color: black;
}
